.login {
    font-family: 'Poppins', sans-serif;
}
h3 {
    margin-top: 120px;
    color: #CF2214;
}
label {
    color: #CF2214;
}
.button {
    background-color: #CF2214;
    border: 0;
    border-radius: 10px;
    height: 40px;
    width: 80px;
    color: #fff;
    font-weight: bold;
    margin-right: 15px;
}
a #quit {
    border-radius: 10px;
    border-color: #CF2214;
    height: 40px;
    width: 140px;
    font-weight: bold;
    background-color: #fff;
    margin-top: 2px;
    color: #CF2214 !important;
}
#quit:hover{
    border-radius: 10px;
    border-color: #8a160d;
    height: 40px;
    width: 140px;
    font-weight: bold;
    background-color: #fff;
    text-decoration: none;
}
button a {
    color: #CF2214;
}
button a :hover {
    color: #8a160d;
    text-decoration: none;
}