#more{
    color: #595959;
    text-decoration: underline;
}

.form-control{
    padding: 1em;
}

.form-select{
    padding: 1em;
    width: 150px;
    text-align: center;
    display: block;
    margin: 10px auto;
}

.searchInput{
    border-radius: 30px;

}
