        /*grid*/
        nav{grid-area: a;}
        div .ilustracija{grid-area: b;}
        form{grid-area: c;}

    
        body{
          display: grid;
          grid-template-areas: 
          "a a a a"
          "b b c c"
          "b b c c"
          ;
        }
    
        *{
            margin: 0;
            padding: 0;
            outline: none;
            
        }
        body {
          font-family: 'Poppins', sans-serif;
          min-height: 100vh;
          background-color: #E5E5E5;
        }

        form{
          float:right;
          padding-top: 10em;
        }
        .illustr{
          float: left;
          padding-top: 10em;
          height: 50%;
          width: 50%;
          padding-left: 5em;
        }

        @media(max-width:991px){
          .illustr{
            display: none;
          }
          form{
            margin-right: 200px;
          }
        }

        @media(max-width:1444px){
          .illustr{
            display: none;
          }
          form{
            margin-right: 200px;
          }
        }

        @media (min-width: 1445px) {
          form{
            padding-top: 200px !important;
            float: none !important;
          }
          }
          
      
/*form*/

input[type=text] {
  background: #D2D2D2;
  border: none;
  border-bottom: 1px solid #000000;
  border-radius: 10px;
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
  width: 350px;
  height: 30px;
}

#lokacija{
  position: relative;
  border: 0.1px solid #7d8488;
  border-radius: 20px;
  background: #E5E5E5;
  margin-top: 10px;
  padding: 5px;
  font-family: 'Poppins', sans-serif;
  width: 350px;
}

textarea{
  width: 350px;
  background: transparent;
}

select option:hover{
  background-color: #595959;
  color: whitesmoke;
  font-family: 'Poppins', sans-serif;
}

.card {
  padding: .5rem;
  max-width: 80%;
  margin: 0 auto;
  animation: fade 250ms ease-in-out forwards;
  top: 50%;
  right: 50%;
}

.form-group {
  display: flex;
    gap: 0.25em;
    flex-direction: column;
    align-items: center;
}

/*.form-group:last-child {
  margin: 0;
}*/

.form-group > label {
  font-weight: bold;
  font-size: .8em;
  color: #333;
}

.form-group > input {
  border: 1px solid #333;
  border-radius: .25em;
  font-size: 1rem;
  padding: .25em;
}

.step-title {
  margin: 10%;
  text-align: center;
}

h4{
  text-align: center;
  margin-bottom: 1em;
}

.card.active {
  animation: slide 250ms 125ms ease-in-out both;
}

.multi-step-form {
  overflow: hidden;
  position: relative;
}

.hide {
  display: none;
}

@keyframes slide {
  0% {
    transform: translateX(200%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

/*navbar*/
#logoRMU, #logoIZVOR {
  height: 50px;
  width: 250px;
}

#logoIZVOR {
  position: absolute;
  top: 25px;
  left: 160px;
}

#logoRMU {
  margin-top: 30px;
}

nav{
  margin-right: 100%;
}

nav .bg-dark {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}

#nav, #form-inline {
  margin-top: 10%;
  margin-left: -10%;
  text-align: center;
  position: fixed;
} 
.nav{
  border: none;
  position: fixed;
}
.nav td{
   width: 20px;
   padding: 0.5em;
   border-top-left-radius: 50px;
   border-top-right-radius: 50px;
   border-bottom-left-radius: 50px;
   border-bottom-right-radius: 50px;
}
#logout{
  color: white;
  text-decoration: none;
}
.d-block{
  padding-left:100px;
}
.container{
  padding-left: 210px;
}
thead{
  border: 1px;
  border-color: #595959;
}
.container-fluid{
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: #222529;
}

#admin{
  padding: 0.5em;
  margin: 10px;
  width: 50px;
  height: 50px;
}

button{
  border: 0.1px solid #7d8488;
  padding: 5px;
  margin-top: 10px;
  border-radius: 10px;
  background: transparent;
  font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none;
  color: #000000;
}

h2{
  text-align: center;
}

#quit{
  height: 15px;
  position: relative;
  margin-top: 2px;
}

#unos{
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 10px;
  margin-left:250px;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 30%;
}

.select2-container--default .select2-selection--multiple{
  width: 40%;
  margin-left:250px;
}