#more{
    color: #595959;
    text-decoration: underline;
}

.form-control{
    padding: 1em;
}

.form-select{
    padding: 1em;
    width: 150px;
    text-align: center;
    display: block;
    margin: 10px auto;
}

@media (max-width: 1444px){
    #zupanija, #usluga, #kategorija{
        float: left;
    }

    input[type="submit"]{
        width: 30%;
        margin: 10px;
    }

    a:link, a:visited {
            color: #eee;
            text-decoration: none;
        }
    
    #sn a, #mail a {
        color: #595959 !important;
    }
    #home{
        color: #595959 !important;
        margin-top: 100px;
    }
}

#div-pruz{
    flex-direction: column;
}

.searchInput{
    border-radius: 30px;

}

/*#search{
    margin-top: 5em;
}*/

