.indexPage {
  font-family: 'Poppins', sans-serif;
  margin-top: 10px;
}

/*MAIN GRID*/
.filters {
  grid-area: a;
}

.filtersCollapsible {
  grid-area: a1;
}

.gridNursingHomes {
  grid-area: b
}

/* Laptops and Desktops */
@media (min-width: 1025px) {
  .gridMain {
    display: grid;
    grid-template-areas:
      "a b";
    grid-template-columns: 30% 70%;
  }

  .filtersCollapsible {
    display: none;
  }
}

/*Tablets*/
@media (min-width: 481px) and (max-width: 1024px) {
  .gridMain {
    display: grid;
    grid-template-areas:
      "a b";
    grid-template-columns: 30% 70%;
  }

  .filtersCollapsible {
    display: none;
  }

  body {
    background-color: rgba(207, 34, 20, 0.05);
  }
}

/*Mobiles*/
@media (max-width: 480px) {
  .gridMain {
    display: grid;
    grid-template-areas:
      "a1"
      "b";
  }

  .filters {
    display: none;
  }

  .image {
    display: none;
  }

  .collapsible {
    background-color: rgba(207, 34, 20, 0.05);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  .active,
  .collapsible:hover {
    background-color: rgba(207, 34, 20, 0.05);
  }

  .content {
    padding: 0 18px;
    display: none;
    /*overflow: hidden;*/
    background-color: #F9F9F9;
  }
}

.txtFilters {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 0px;
}

.filtersLSC {
  margin-left: 70px;
}

.intro {
  display: flex;
  flex-direction: row;
}

/*GRID FOR EACH NURSING HOME (right side)*/
.intro {
  grid-area: a
}

.dataDiv {
  grid-area: b;
}

.gridNursingHomes {
  display: grid;
  grid-template-areas:
    "a a a a a"
    "b b b b b";
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: auto auto 1fr 1fr 1fr auto auto;
  grid-gap: 10px;
  height: calc(100vh - 10px);
}

.gridDescNursingHomesMobile {
  display: none;
}

.imgNursingHomes{
  grid-area: c;
}
.gridDescNursingHomes {
grid-area: d;
}

.dataDiv {
  display: flex;
  flex-direction: column;
}

@media (max-width: 480px) {
  .intro {
    grid-area: a;
  }

  .mainInfo {
    grid-area: b;
  }

  .imgNursingHomes {
    grid-area: c;
  }

  .gridDescNursingHomesMobile {
    display: grid;
    grid-template-areas:
      "a a"
      "b b"
      "c c";
    grid-template-columns: fit-content(8ch) fit-content(8ch) 1fr;
  }

  .gridNursingHomes {
    display: none;
  }

  #nameNursingHome {
    color: #F1F1F1 !important;
    font-size: 16px;
  }

  #nameLocation {
    color: #fff;
    font-size: 12px;
  }

  .mainInfo {
    background: #CF2214;
    padding-top: 10px;
    width: 100%;
  }

  .img {
    width: 100%;
    position: absolute;
    margin-top: -15px;
    position: relative;
    margin-top: -10px;
    z-index: -1;
  }
}

#filterTxtOne {
  color: #858585;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: inline-block;
}

#filterTxtTwo {
  color: #CF2214;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: inline-block;
}

.filterHr {
  width: 297.5px;
}

input[type="checkbox"] {
  border: 1px solid #D9D9D9;
  border-radius: 5px;
}

input[type="checkbox"]:checked {
  accent-color: #CF2214;
  border: 1px solid #CF2214;
  border-radius: 5px;
}

.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.filterTitle {
  color: #858585;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
}

.txtPruzatelji {
  color: #858585;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-left: 14px;
  margin-top: 20px;
}

.noResults {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #858585;
}

.txtIcon {
  flex-direction: row;
  display: flex;
}

.image {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

#nameNursingHome {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #858585;
  margin-left: 10px;
}

#nameLocation {
  margin-left: 10px;
}

#nameServicesCategories {
  margin-left: 10px;
}

.dataDesc {
  background: #F9F9F9;
  border-radius: 10px;
}

#buttonNursingHome {
  width: 218px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background: #CF2214;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
  margin-left: 10px;
  cursor: pointer;
}

hr {
  width: 600px;
  height: 0px;
  color: #D9D9D9;
}

.nursingHome {
  display: flex;
  align-items: center;
}