#more{
    color: #595959;
    text-decoration: underline;
}

.form-control{
    padding: 1em;
}

.form-select{
    padding: 1em;
    width: 150px;
    text-align: center;
    display: block;
    margin: 10px auto;
}

@media (max-width: 1444px){
    #zupanija, #usluga, #kategorija{
        float: left;
    }

    input[type="submit"]{
        width: 30%;
        margin: 10px;
    }

    a:link, a:visited {
            color: #eee;
            text-decoration: none;
        }
    
    #sn a, #mail a {
        color: #595959 !important;
    }
    #quit a{
        color: #595959;
    }
    .ui-menu > li{
        width: 1000px;
    }
}

#div-pruz{
    flex-direction: column;
}

.searchInput{
    border-radius: 30px;

}

#search{
    margin-top: 1em;
}

.ui-menu > li{
    background-color: rgb(222, 226, 230);
    list-style-type: none;
}

.ui-helper-hidden-accessible{
    display: none;
}