.ilustracija {grid-area: a;}
.container {grid-area: b;}

body{
    display: grid;
    grid-template-areas: 
    "a a b b"
    "a a b b";
}

form{
    float:right;
    padding-top: 1em;
  }
  .illustr{
    float: left;
    padding-top: 10em;
    height: 70%;
    width: 90%;
    padding-left: 5em;
  }
  h3{
    padding-top: 2em;
  }

  @media(max-width:1444px){
  .illustr{
    display: none;
  }
  body{
    display: grid;
    grid-template-areas: 
    "c c"
    "c c";
  }
  }