#logo, #logoRMU, #logoIZVOR{
    height: 50px;
    width: 250px;
}
#logoIZVOR{
    position: absolute;
    top: 25px;
    left: 160px;
}
li{
    text-align: center;
}
a:link, a:visited{
    color: black;
    text-decoration: none;
}
.button{
    background-color: #222;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    max-width: none;
    min-height: 44px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    width: 30%;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
}
#logo_ESF{
    width: 50%;
    height: 50%;
    display: block;
    margin: 0 auto;
    padding: 0;
}
.icon{
    height: 80px;
    width: 100px;
    float: right;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.footerData{
    text-align: center;
}
.footerData a{
    color: #595959;
}
h1{
    margin-top: 25%;
    margin-bottom: 1em;
    float: center;
}
.icon{
    margin-top: 130px;
}
div h3{
    margin-top: 40%;
}

.breadcrumb{
    background-color: transparent;
    cursor: pointer;
}

@media (min-width: 1445px){
      #sidebar {
        position: fixed;
        top: 0%;
        left: 250px;
        width: 250px;
        height: 90%;
        margin-left: -250px;
        margin-top: 90px;
        overflow-y: auto;
        background: #EFEFEF;
        text-align: center;
      }
      #sidebar .nav a{
        color: #595959;
        font-size: 14px;
        padding: 16px 24px;
      }
      #sidebar .nav a:hover{
        background: none;
        color: #7d8488;
      } 
      #sidebar #admin{
        margin-top: 3em;
      }
      #sidebar p{
          margin-bottom: 2em;
      }
     .nav{
         border: none;
     }
     .nav td{
        width: 20px;
        padding: 0.5em;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }
     #logout{
        color: white;
        text-decoration: none;
    }
    .d-block{
        padding-left:100px;
    }
    .container{
        padding-left: 210px;
    }
    thead{
        border: 1px;
        border-color: #595959;
    }
    .ui-menu > li{
        width: 220px;
    }
}
@media ((min-width:992px) and (max-width: 1200px)){
    #search{
        margin-top: 120px;
        width: 30%;
        text-align: center;
    }
    #pruzatelj{
        float: left;
    }
    #usluga{
        float: left;
    }
    #kategorija{
        float: left;
    }
    #celija_pruzatelji{
        float: left;
    }
    #celija_usluge{
        float: left;
    }
    #celija_kategorije{
        float: left;
    }
    #celija_admini{
        float: left;
    }
    #viewport{
        margin-top: 550px;
    }
    .submit{
        margin-top: 100px;
        margin-left: -400px;
        width: 100px;
    }
    h1{
        margin-top: 40%
    }
    #logout{
        color: white;
        text-decoration: none;
        display: block;
    }
    .breadcrumb{
        margin-top: -150px;
    }
}

@media(max-width:991px){
    h1{
        margin-top: 150px;
    }

    .LogoMob{
        width: 50%;
        height: 50%;
        float: left;
    }

    .navbar-toggler{
        margin-right: 0px;
        margin-left: auto;
    }

    .navbar-nav a{
        color: white;
    }
    .breadcrumb{
        margin-top: -150px;
    }
    #logout{
        color: white;
        text-decoration: none;
        display: block!important;
    }
}
