<!DOCTYPE html>
<html lang="hr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registar</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../Styles/styleHeader.css">
  <link rel="stylesheet" href="../Styles/styleIndexRegistry.css">
  <link rel="stylesheet" href="../Styles/styleDetails.css">
</head>
<body>
  <nav>
    <div class="logoRMU">
      <a href="indexRegistry.php">
      <img src="../Assets/LogoRazvoj.png" alt="Logo" id="logoRMU">
      </a>
    </div>
    <div class="logoIzvor">
      <a href="indexRegistry.php">
      <img src="../Assets/logoIzvor.png" alt="Logo" id="logoIzvor">
      </a>
    </div>
    <div class="searchBar">

      <img src="../Assets/search.svg" id="imgSearchBar">
      <input class="inputField" type="search" name="search" id="search" placeholder="Pretražite domove">
      <button type="button" name="button" id= "button">Pretražite</button>

    </div>
    <div class="login">
<a href="#"><p id="loginTxt">Login</p></a>

    </div>
  </nav>
